//COLORS

$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);
$White:#fff;

//UI

$background-body:$Light-Grayish-Blue;
$background-main:$White;
$background-link-active:$Very-Dark-Grayish-Blue;
$background-button:$Light-Grayish-Blue;

$color-intro-text:$Very-Dark-Grayish-Blue;
$color-main-text:$Desaturated-Dark-Blue;
$color-date:$Grayish-Blue;